<div class="form-row">
    <div class="form-item">
    
        <select id="salutation" name="salutation">
          <option value="mr">Mr</option>
          <option value="mrs">Mrs</option>
          <option value="ms">Ms</option>
          <option value="no">No specification</option>
        </select>
      </div>
</div>
  
  <div class="form-row">

    <div class="form-item">
      <input type="text" name="fname" value="<%= user.addresses.fname %>" placeholder="First Name *"/>
    </div>
    
  </div>

  <div class="form-row">

    <div class="form-item">
      <input type="text" name="lname" value="<%= user.addresses.lname %>" placeholder="Last Name *"/>
    </div>

  </div>

  <div class="form-row">
    <div class="form-item">
      <input type="text" name="company" value="<%= user.addresses.company %>" placeholder="Company"/>
    </div> 
  </div>

  <div class="form-row">
    <div class="form-item">
      <input type="text" name="country" value="<%= user.addresses.country %>" placeholder="Country *"/>
    </div> 
  </div>

  <div class="form-row">

    <div class="form-item">
      <input type="text" name="postcode" value="<%= user.addresses.postcode %>" placeholder="Postcode *"/>
    </div>
  </div>

  <div class="form-row">

    <div class="form-item">
      <input type="text" name="city" value="<%= user.addresses.city %>" placeholder="City *"/>
    </div>
  </div>
    


  <div class="form-row">
    <div class="form-item">
      <input type="text" name="street" value="<%= user.addresses.street %>" placeholder="Street *"/>
    </div> 
  </div>

  <div class="form-row">
    <div class="form-item">
      <input type="text" name="address2" value="<%= user.addresses.address2 %>" placeholder="Address line 2"/>
    </div> 
  </div>

  <div class="form-row">
    <div class="form-item">
      <input type="text" name="phone" value="<%= user.addresses.phone %>" placeholder="Phone *"/>
    </div> 
  </div>


  
  