
  <div class="row">
    <div class="col-md-3 side-box"><%- include('side_bar') %></div>
    <div class="col-md-9 main-box">


<% if (!user.addresses) { %>
  <p class="text-secondary"><small> You do not have any saved addresses. Please add one below...</small></p>
<% } %>


    <div class="col">
      <h2 style="margin-top: 0.5em;" class="page-header">Your Address Book</h2>

      <% if (user.addresses) { %>
        <% user.addresses.forEach((address, index) => { %>
          <div class="addr-bar">
            <div class="author-row">
              <div class="author-name"><%= address.fname %> <%= address.lname %></div><br>
              <div class="author-name"><%= address.street %></div><br>
              <div class="author-name"><%= address.city %> <%= address.country %></div>
            </div>
            <div style="display: flex; justify-content: space-between;">
            <button style="width: 48%;" type="button" class="bttn custom-btn" data-bs-toggle="modal" data-bs-target="#popupModal">VIEW</button>
          
            <form style="width: 48%;" action="/account/addresses/<%= address._id %>/remove" method="post">
            <button style="width: 100%;" type="submit" class="bttn bttn-dan">REMOVE</button>
            </form>
          
          </div>
          </div>
          <br>
        <% }) %>
      <% } %>

      <% if (user.addresses.length < 2) { %>
        <h5 class="text-secondary">Add Your Address</h5>
        <form action="/account/addresses" method="POST">
          <%- include('_form_fields') %>
          <div class="form-row form-row-end btn-row">
            <a class="bttn bttn-dan" href="/admin/product-control">Cancel</a>
            <button class="bttn bttn-pri" type="submit">Save</button>
          </div>
        </form>
      <% } %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupModalLabel">Edit Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/check" method="post">
        <div class="modal-body">
          <div class="form-item">
            <%- include('_form_fields') %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>


<style>

.custom-btn {
  background-color: hsl(356, 251%, 255%);
}

.custom-btn:hover {
  color: aliceblue;
  background-color: hsl(211, 0%,0%);
}

</style>
