<style>

    .credit-box {
        display: flex;
        height: 50vh;
        box-shadow: 2px -5px 5px 6px rgb(216, 216, 216);
        box-shadow: -2px 5px 5px 6px rgb(216, 216, 216);
        border: black solid 2px;
    }
  
    .credit-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50vw;
        padding: 0.5rem;
    }
  
    .credit-display {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
    }
    .form-display {
        padding: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .msg-display {
        padding: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  
    .credit-right {
        width: 50vw;
        padding: 0.5rem;
    }
  
    .list-display {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        border-radius: 1px;
        box-shadow: 0 0 2px 2px rgb(216, 216, 216);
        border: rgb(216, 216, 216) solid 1px;
    }
  
    .amount-display {
        text-align: center;
        font-size: 2rem;
        width: 40%;
    }
  
    .amount-details {
        text-align: center;
        width: 60%;
    }
  
    /* WebKit-based browsers (Chrome, Safari) */
    .credit-right::-webkit-scrollbar {
        width: 10px; /* Adjust the scrollbar width as needed */
    }
  
    .credit-right::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Track color */
        border-radius: 5px; /* Rounded corners for the track */
    }
  
    .credit-right::-webkit-scrollbar-thumb {
        background-color: #888; /* Scrollbar thumb color */
        border-radius: 10px; /* Rounded ends (semi-circles) for the thumb */
    }
  </style>


  
  
  <div class="row">
      <div class="col-lg-3">
          <!-- Sidebar (1/4 width on large screens) -->
          <%- include('side_bar') %>
      </div>
      <div class="col-lg-9">
          <!-- Content (3/4 width on large screens) -->
          <div>
              <h2 style="margin-top: 0.5em;">Your Credit Balance</h2>
        <p class="text-secondary"><small> You can check the balance of your gift card, store credit or Vestiaire vouchers here. <br />
        Simply type in your unique 8-digit code below..</small></p>

          </div>
          <% if(walletBalance !== null && walletBalance !== undefined) { %>

          <% if(user.wallet && user.wallet.balance !== undefined && user.wallet.balance !== null) { %>

          

            <div class="credit-box">
              <div class="credit-left">
                <div class="credit-display">$<%= user.wallet && user.wallet.balance !== undefined && user.wallet.balance !== null ? walletBalance : '0' %></div>

                  <div class="form-display">
                      <form action="/account/wallet-redeem" method="POST">
                          <input type="text" id="redeemCode" name="redeemCode" style="width: 100%;" placeholder="Enter code *" />

                          <button class="bttn bttn-pri" style="width: 100%; margin-top: 0.5rem;" type="submit">Redeem</button>
                      </form>
                  </div>

                  <div class="msg-display">
                      <p class="text-secondary"><small>Enter your coupon or gift card code in the field above and click Redeem to apply the discount to your order.</small></p>
                  </div>
              </div>

              <div class="credit-right" style="overflow-y: auto;">
                  <!-- Add your content here -->
                  <% if (user && user.wallet && user.wallet.transactions) { %>
                    <% user.wallet.transactions.forEach(wallet => { %>
                        <% if(wallet.operation === 'Deposit') { %>
                        <div class="list-display" style="background-color: #dbebe2;">
                            <% } else { %>
                            <div class="list-display" style="background-color: #ebdbdb;">
                                <% } %>
                            <% if(wallet.operation === 'Deposit') { %>

                            <div class="amount-display" style="color: #479166;">$<%= Math.floor(wallet.amount) %></div>

                            <% } else { %>
                            <div class="amount-display" style="color: #9e3a33;">$<%= Math.ceil(wallet.amount) %></div>
                                <% }  %>
                            <div class="amount-details">
                                <div><%= wallet.transactionType %></div>
                                <div class="text-secondary">
                                    <small>
                                        <%= wallet.timestamp.getDate().toString().padStart(2, '0') %>
                                        <%= wallet.timestamp.toLocaleString('default', { month: 'short' }) %>
                                        <%= wallet.timestamp.getFullYear().toString().slice(-2) %>
                                    </small>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>

                  <div class="list-display">
                      <div class="amount-display">$0</div>
                      <div class="amount-details">
                          <div>- -</div>
                          <div class="text-secondary"><small>- -</small></div>
                      </div>
                  </div>

          <% } %>
    <% } %>



          <% } else { %>


            <div class="credit-left"> 
              <div class="form-display">
                  <form action="/action_page.php">
                      <input type="text" id="fname" name="fname" style="width: 100%;" placeholder="Enter code *" />
            
                      <input class="bttn bttn-pri" style="width: 100%; margin-top: 0.5rem;" type="submit" value="Redeem" />
                  </form>
              </div>
            
              <div class="msg-display">
                  <p class="text-secondary"><small>Enter your coupon or gift card code in the field above and click Redeem to apply the discount to your order.</small></p>
              </div>
            </div>


          


              </div>
          </div>
      </div>
  

<% } %>

</div>
</div>













