
<div class="row">
  <div class="col-md-3 side-box"> 
    <%- include('side_bar') %>
  </div>
  <div class="col-md-9 main-box">
     <!-- Content (3/4 width on large screens) -->

     <h2 style="margin-top: 0.5em;" class="page-header">Your orders</h2>

    <% if (order && order.length === 0) { %>
      <!-- Display message for no orders -->
    <p class="text-secondary"><small> You haven't placed any orders yet. Feel free to browse our new arrivals for inspiration. </small></p>
    <% } else if (order) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Qtn</th>
            <th>Total</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% order.forEach(order => { %>
            <% order.cart.items.forEach(item => { %>
              <tr>
                <td><%= item.product.name %> <br>
                </td>
                <td><%= item.product.price %></td>
                <td><%= item.quantity %></td>
                <td><%= item.total %></td>
                <% }) %>
                <td class="<%= order.status === 'Cancelled' ? 'text-danger' : '' %>"><%= order.status %></td>
                <td>
               
                    <a class="bttn bttn-info" href="/account/order/<%= order.id %>/view">View</a>
          
                </td>
              </tr>
              
          <% }) %>
        </tbody>
      </table>
    <% } %>



     
      
</div>

</div>