<div class="form-row">
  <div class="form-item">
    <label>Product Name</label>
    <input type="text" name="name" value="<%= product.name %>" />
  </div>
  <div class="form-item">
    <label>Brand</label>
    <select name="brand">
      <% brands.forEach(brand => { %> <% if (brand.id === product.brand) { %>
      <option selected label="<%= brand.name %>" value="<%= brand.id %>">
        <% } else { %>
      </option>

      <option label="<%= brand.name %>" value="<%= brand.id %>">
        <% } %> <% }) %>
      </option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Gender</label>

    <select id="gender" name="gender">
      <option value="unisex">Unisex</option>
      <option value="men">Men</option>
      <option value="women">Women</option>
      <option value="boy">boy</option>
      <option value="girl">girl</option>
    </select>
  </div>


  <div class="form-item">
    <label>Category</label>

    <select id="category" name="category">
      <option value="clothings">clothings</option>
      <option value="shoes">shoes</option>
      <option value="bags">bags</option>
      <option value="accessories">accessories</option>
      <option value="jewelry">jewelry</option>
    </select>
  </div>
</div>

<div class="form-row">
  <% Object.keys(product.sizes).slice(0, 3).forEach(size => { %>
    <div class="form-item">
      <label><%= size %></label>
      <input type="number" name="<%= size.toLowerCase() %>" placeholder="Stock Count" min="0" value="<%= product.sizes[size] || 0 %>"/>
    </div>
  <% }) %>
</div>

<div class="form-row">
  <% Object.keys(product.sizes).slice(3).forEach(size => { %>
    <div class="form-item">
      <label><%= size %></label>
      <input type="number" name="<%= size.toLowerCase() %>" placeholder="Stock Count" min="0" value="<%= product.sizes[size] || 0 %>"/>
    </div>
  <% }) %>
</div>




<div class="form-row">

  <div class="form-item">
    <label>Sub Category</label>
    <input
      type="text"
      name="subCategory"
      value="<%= product.subCategory %>"
    />
  </div>

    <!-- Automatically calculated totalStock based on stock counts for each size -->
    

  <div class="form-item">
    <label>Color</label>
    <select name="color">
      <% colors.forEach(color => { %> <% if (color.id === product.color) { %>
      <option selected label="<%= color.name %>" value="<%= color.name %>">
        <% } else { %>
      </option>

      <option label="<%= color.name %>" value="<%= color.name %>">
        <% } %> <% }) %>
      </option>
    </select>
  </div>
</div>

<div class="form-row">

  <div class="form-item">
    <label>Price</label>
    <input type="number" name="price" min="1" value="<%= product.price %>" />
  </div>

  <div class="form-item">
    <label>Discount</label>
    <input
      type="number"
      name="discount"
      min="0"
      value="<%= product.discount %>"
    />
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= product.description %></textarea>
  </div>




  <div class="form-item form-item-no-grow">
    <label>Main Cover</label>
    <input type="file" name="cover" class="book-cover" multiple/>
  </div>

  
</div>







<label for="totalStock"></label>
    <input type="hidden" id="totalStock" name="totalStock" readonly>
    
    <script>
      // Get all the input elements
      const sizeInputs = document.querySelectorAll('input[name^="size"]');
    
      // Update the total stock when any input changes
      sizeInputs.forEach(input => {
        input.addEventListener('input', updateTotalStock);
      });
    
      function updateTotalStock() {
        // Calculate the total stock by summing up all size inputs
        let totalStock = 0;
    
        sizeInputs.forEach(input => {
          totalStock += parseInt(input.value) || 0;
        });
    
        // Update the value of the hidden input
        document.getElementById('totalStock').value = totalStock;
      }
    </script>
    