<br>




<br>





<div class="container">
    <div class="row">
      <% wishlists.items.forEach(item => { %>
        <div class="col-md-3 mb-4">

        <form method="POST" action="/wishlist/<%= item.id %>/remove">

          <button class="buttn bttn-info" style="width: 10%; padding: 0 0;"><i class="bi bi-x-lg"></i></i></button>

        </form>

          <a href="/men/<%= item.product.id %>" class="">
            <img class="img-fluid img-with-underline" src="<%= item.product.coverImagePath1 %>" alt="<%= item.product.name %>">
          </a>
          <div class="cover-details">
            <div class="cover-name-label"><%= item.product.name %></div>
            <div class="cover-price-label">$<%= item.product.price %></div>
            <button class="bttn bttn-pri" style="width: 100%;">Test</button>
          </div>
        </div>
      <% }) %>
    </div>
  </div>


<br>



<div class="bottom-banner" style="width: 100%;">
  <div class="row">
    <div class="col-md-6">
      <div class="image-container">
        <img src="/images/bott2.jpg" alt="Image description" class="bottom-banner-cover">
        <div class="centered-content">
          <p class="centered-text">Coat</p>
        </div>
        <a class="buttn bttn-secondary centered-button">Shop now</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        <img src="/images/bott1.jpg" alt="Image description" class="bottom-banner-cover">
        <div class="centered-content">
          <p class="centered-text">Jackets</p>
        </div>
        <a class="buttn bttn-secondary centered-button">Shop now</a>
      </div>
    </div>
  </div>
</div>




<!-- Your custom styles here -->
<style>


.img-with-underline {
  position: relative;
  transition: border-bottom 0.3s ease;
  border-bottom: solid 2.2px black;

}


.cover-brand-label {
  text-align: center;
  color: black;
  font-size: 1rem;
}

.cover-name-label {
  text-align: center;
  font-size: 0.78rem;
  font-weight: 500;
  color: gray;
}

.cover-price-label {
  text-align: center;
  color: black;
  font-size: .8rem;
  font-weight: 500;
  margin-bottom: 1.5em;
}


  .pagination .bttn.active {
    background-color: rgb(194, 214, 205) !important;
    border-color: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0) !important;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .bottom-banner-cover {
  object-fit: cover;
  width: 100%;
  height: 17em;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.centered-content {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-button {
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.centered-text {
  font-weight: 500;
  font-size: 2rem; /* Adjust the font size as needed */
  color: white; /* Adjust the text color as needed */
}

</style>
