<br>




<br>





<div class="container">
    <div class="row">
      <h2>WISHLIST</h2>
      <% if(wishlists && wishlists.items !== undefined && wishlists.items !== null) { %>
      <% wishlists.items.forEach(item => { %>
        <div class="col-md-3 mb-4">

        <form method="POST" action="/wishlist/<%= item.id %>/remove">

          <button type="submit" class="btn btn-link"><i class="bi bi-x-square"></i></button>


        </form>

          <a href="/men/<%= item.product.id %>" class="">
            <img class="img-fluid img-with-underline" src="<%= item.product.coverImagePath1 %>" alt="<%= item.product.name %>">
            <div class="cover-details">
              <div class="cover-name-label"><%= item.product.name %></div>
            </a>
              <div class="cover-price-label" style="margin-bottom: 0.5rem;">$<%= item.product.price %></div>


                <% if(item.product.totalStock < 1 ) { %>
                  <button class="bttn custom-button" type="button"  style="width: 100%;" disabled>Out of stock <i class="bi bi-emoji-frown"></i></button>
                <% } else { %>
                  <button class="bttn bttn-pri" type="button" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#popupModal">add to bag</button>
                <% }  %>
              


          </div>
        </div>
        </div>
      <% }) %>
      <% } else { %>
        <h4 style="color: black;">You have no saved wishlist</h4>
        <% } %>
    </div>
  </div>


  <!-- Modal -->
<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupModalLabel">Select Size</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <% wishlists.items.forEach(item => { %>

          
            <form action="/checkout/cart/add" method="post">

            <% if (userId) { %>
              <input type="hidden" name="userId" value="<%= userId %>">
            <% } %>
            <input type="hidden" name="productId" value="<%= item.product._id %>">
            <input type="hidden" name="productName" value="<%= item.product.name %>">
            <input type="hidden" name="quantity" value="1">
            
              <label class="form-label">Size:</label><br>
              <% item.product.sizes.forEach((size, index) => { %>
                <input 
                  type="radio" 
                  value="<%= size.sizeName %>" 
                  id="<%= size.sizeName %>" 
                  name="size" 
                  <% if (index === 0) { %>checked<% } %>
                >
                <label for="<%= size.sizeName %>"><%= size.sizeName %></label><br><br>
              <% }) %>
              
            
            
            <button class="bttn bttn-pri custom-button">Confirm</button><br>
          </form>

      <% }) %>

        </div>
    </div>
  </div>
</div>


<br>



<div class="bottom-banner" style="width: 100%;">
  <div class="row">
    <div class="col-md-6">
      <div class="image-container">
        <img src="/images/bott2.jpg" alt="Image description" class="bottom-banner-cover">
        <div class="centered-content">
          <p class="centered-text">Coat</p>
        </div>
        <a class="buttn bttn-secondary centered-button">Shop now</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        <img src="/images/bott1.jpg" alt="Image description" class="bottom-banner-cover">
        <div class="centered-content">
          <p class="centered-text">Jackets</p>
        </div>
        <a class="buttn bttn-secondary centered-button">Shop now</a>
      </div>
    </div>
  </div>
</div>




<!-- Your custom styles here -->
<style>

.custom-bttn {
  cursor: pointer;
  align-items: center;
  margin-top: 0.5rem; 
}
.custom-button {
  width: 100%;
  margin-bottom: 1rem;
}

.img-with-underline {
  position: relative;
  transition: border-bottom 0.3s ease;
  border-bottom: solid 2.2px black;

}


.cover-brand-label {
  text-align: center;
  color: black;
  font-size: 1rem;
}

.cover-name-label {
  text-align: center;
  font-size: 0.78rem;
  font-weight: 500;
  color: gray;
}

.cover-price-label {
  text-align: center;
  color: black;
  font-size: .8rem;
  font-weight: 500;
  margin-bottom: 1.5em;
}


  .pagination .bttn.active {
    background-color: rgb(194, 214, 205) !important;
    border-color: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0) !important;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .bottom-banner-cover {
  object-fit: cover;
  width: 100%;
  height: 17em;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.centered-content {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-button {
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.centered-text {
  font-weight: 500;
  font-size: 2rem; /* Adjust the font size as needed */
  color: white; /* Adjust the text color as needed */
}

</style>
