<div class="container">
  <div class="row">
    <% products.forEach(product => { %>
      <div class="col-md-3 mb-4">    
        <a href="/men/<%= product.id %>" class="">
          <img class="img-fluid img-with-underline" src="<%= product.coverImagePath1 %>" alt="<%= product.name %>">
        </a>
        <div class="cover-details">
          <div class="name-box">
          <div class="men-brand-label"><%= product.brand.name %></div>
          <div class="men-brand-label">


            <form action="/wishlist/add" method="post">

          
              <input type="hidden" name="productId" value="<%= product._id %>">
              <input type="hidden" name="productName" value="<%= product.name %>">
              <input type="hidden" name="pageUrl" value="/men">
              <input type="hidden" name="quantity" value="1">
    
            <button type="submit" style="color: grey;" class="btn btn-link"><i class="bi bi-star"></i></button>
            </form>


          </div>
        </div>
          <div class="men-name-label"><%= product.name %></div>
          <div class="men-price-label">$ <%= product.price %>
            <% if(product.totalStock < 5 && product.totalStock != 0 ) { %>
              | 
              <span style="color: rgb(207, 4, 4);">
              Low on stock
            </span>
              <% } else if(product.totalStock < 1 ) { %>
                | 
              <span style="color: rgb(207, 4, 4);">
              Out of stock
            </span>
                <% }  %>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>




<style>
.name-box {
  display: flex;
  justify-content: space-between;
}

.img-with-underline {
  position: relative;
  transition: border-bottom 0.3s ease;
  border-bottom: solid 2.3px black;

}

.img-with-underline:hover {
  border-bottom: solid 2.3px blue;
}

.men-brand-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1rem;
}

.men-name-label {
  font-family: inherit;
  font-family: "RobotoMono";
  font-size: 0.78rem;
  font-weight: 500;
  color: gray;
}

.men-price-label {
  font-family: "FuturaStd-Medium";
  color: black;
  font-size: .8rem;
  font-weight: 500;
  margin-bottom: 1.5em;
}

</style>