


<div class="container">
  <div class="half-container mt-4">
    <div class="row">
      
      <div class="col-md-7">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% for (let i = 0; i < product.coverImages.length; i++) { %>
              <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                <a href="data:<%= product.coverImages[i].imageType %>;charset=utf-8;base64,<%= product.coverImages[i].image.toString('base64') %>" data-lightbox="product-images">
                  <img src="data:<%= product.coverImages[i].imageType %>;charset=utf-8;base64,<%= product.coverImages[i].image.toString('base64') %>" class="d-block custom-carousel-img" alt="Image <%= i + 1 %>">
                </a>
              </div>
            <% } %>
          </div>
        
          <!-- Carousel controls (optional) -->
          <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    
      <div class="col-md-5">
        <h3><%= product.brand.name %></h3>
        <h6 class="text-secondary"><%= product.name %></h6>
        <p><small><span class="font-weight-bold">€ <%= product.price %> </span><br><span class="text-secondary">VAT not included</span></small></p>
      
        <form action="/checkout/cart/add" method="post">
          <% if (userId) { %>
            <input type="hidden" name="userId" value="<%= userId %>">
          <% } %>
          <input type="hidden" name="productId" value="<%= product._id %>">
          <input type="hidden" name="productName" value="<%= product.name %>">
          <input type="hidden" name="quantity" value="1">
          <div class="form-group custom-button">
            <label for="size" class="form-label">Size:</label>
            <select name="size" id="size" class="form-select">
              <% product.sizes.forEach(size => { %>
                <option value="<%= size.sizeName %>"><%= size.sizeName %></option>
              <% }) %>
            </select>
          </div>
          <button class="bttn bttn-pri custom-button" type="submit">ADD TO BAG</button>
        </form>
      
        
          <button class="bttn bttn-dan custom-button">Wishlist</button><br>
          <div class="the-line"></div>
          <p class="custom-bttn text-center d-flex align-items-center justify-content-center" data-bs-toggle="collapse" data-bs-target="#productDetails">Product Details 🡫</p>

          
          <div id="productDetails" class="collapse">
            <p class="text-secondary custom-details"><small><%= product.description %></small></p>
          </div>
          <div class="the-line"></div>
          
          <p class="custom-bttn text-center d-flex align-items-center justify-content-center" data-bs-toggle="collapse" data-bs-target="#deliveryDetails">delivery & free returns</p>

          <div id="deliveryDetails" class="collapse">
            <p class="text-secondary custom-details"><small>All orders are shipped worldwide via our affiliate couriers DHL or UPS. Please see the shipping method as well as shipping costs and delivery times for your destination here.

              We gladly accept returns within 30 days of receipt free of charge. For more information, please read here.</small></p>
          </div>
          <div class="the-line"></div>

        <div class="faq">
          <p class="text-secondary"><small>See more <%= product.brand.name %></small></p>
          <p class="text-secondary"><small>See more <%= product.category %> by <%= product.brand.name %></small></p>
          <p class="text-secondary"><small>See more <%= product.category %></small></p>
          <p class="text-secondary"><small>See more <%= product.subCategory %></small></p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="bottom-container">
  <h3 class="text-center d-flex align-items-center justify-content-center">You may also like</h3>



  <div class="row-box">
    <div class="row">
      <div style="width: 100%;">
        <div class="w-100">
          <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <!-- First Post -->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-3">
                    <div class="card">
                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                      <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                        <p class="card-text">Description for Image 1.</p>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Repeat similar card structure for Images 2, 3, and 4 -->
                  <div class="col-3">
                    <div class="card">
                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                      <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                        <p class="card-text">Description for Image 1.</p>
                      </div>
                    </div>
                  </div>
                  
  
                  <div class="col-3">
                    <div class="card">
                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                      <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                        <p class="card-text">Description for Image 1.</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-3">
                    <div class="card">
                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                      <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                        <p class="card-text">Description for Image 1.</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!-- Second Post -->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-3">
                    <div class="card">
                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                      <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                        <p class="card-text">Description for Image 1.</p>
                      </div>
                    </div>
                  </div>
                  
  
                  <div class="col-3">
                    <div class="card">
                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                      <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                        <p class="card-text">Description for Image 1.</p>
                      </div>
                    </div>
                  </div>
                  
  
                  <div class="col-3">
                    <div class="card">
                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                      <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                        <p class="card-text">Description for Image 1.</p>
                      </div>
                    </div>
                  </div>
                                  
  
                  <div class="col-3">
                    <div class="card">
                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                      <div class="card-body">
                        <h5 class="card-title">Image 1</h5>
                        <p class="card-text">Description for Image 1.</p>
                      </div>
                    </div>
                  </div>
                  
  
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  // Add event listener to collapse elements
  const collapseButtons = document.querySelectorAll('[data-bs-toggle="collapse"]');
  collapseButtons.forEach(button => {
    button.addEventListener('click', function() {
      const targetId = this.getAttribute('data-bs-target');
      const target = document.querySelector(targetId);

      // Close all other collapse elements
      collapseButtons.forEach(otherButton => {
        if (otherButton !== this) {
          const otherTargetId = otherButton.getAttribute('data-bs-target');
          const otherTarget = document.querySelector(otherTargetId);

          if (otherTarget && otherTarget.classList.contains('show')) {
            const collapse = new bootstrap.Collapse(otherTarget);
            collapse.hide();
          }
        }
      });
    });
  });
</script>





<script>
  // This line will initialize Lightbox2
  lightbox.option({
    'resizeDuration': 200,
    'wrapAround': true
  });
</script>



 <style>

  .the-line {
  padding-bottom: 0.5rem;
  width: 100%;
  border-top: solid 1px rgb(196, 196, 196);
  }

.custom-bttn {
  cursor: pointer;
  align-items: center;
  margin-top: 0.5rem; 
}
.custom-button {
  width: 100%;
  margin-bottom: 1rem;
}

  .custom-carousel-img {
    padding: 20px;
    width: 40vw; 
    height: 85vh;
}

  /* Add these styles to your existing <style> section */
    .half-container {
    
    /* border: red 2px solid; */
  }
  
 
  
  .left-half {
    
    /* border: blue 2px solid; */
  }
  
  .right-half {
   
    /* border: green 2px solid; */
  }
  
  .bottom-container {
   
    /* border: blueviolet 2px solid; */
  }
  
  
  
  
  
  
    </style> 