<!-- <div class="page-heading">
<div class="page-head">_Clothing</div>

</div> -->

<div class="row">
  <form action="/women/new" method="GET" class="d-flex align-items-center">
    <!-- Search Input -->
    <div class="col-md-7">
      <input  type="text" style="width: 95%;" placeholder="Search for..." name="keyword" value="<%= searchKeyword %>">
    </div>

    <!-- Select Color Dropdown -->
    <div class="col-md-2">
      <label for="color" class="mr-2">Select color:</label>
      <select name="color" id="color" class="form-control">
        <option value="">All Colors</option>
        <% colors.forEach(color => { %>
          <% if (color.name === selectedColor) { %>
            <option selected value="<%= color.name %>"><%= color.name %></option>
          <% } else { %>
            <option value="<%= color.name %>"><%= color.name %></option>
          <% } %>
        <% }) %>
      </select>
    </div>

    <!-- Select Brand Dropdown -->
    <div class="col-md-2">
      <label for="brand" class="mr-2">Select brand:</label>
      <select name="brand" id="brand" class="form-control">
        <option value="">All Brands</option>
        <% brands.forEach(brand => { %>
          <% if (brand._id.toString() === selectedBrand) { %>
            <option selected value="<%= brand._id %>"><%= brand.name %></option>
          <% } else { %>
            <option value="<%= brand._id %>"><%= brand.name %></option>
          <% } %>
        <% }) %>
      </select>
    </div>

    <!-- Apply Filter Button -->
    <div class="col-md-1">
      <button class="buttn" type="submit"><i class="bi bi-search"></i></button>
    </div>
  </form>
</div>


<br>
<%- include('productGrid', { products: products, large: true }) %>
<br>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <% if (currentPage > 1) { %>
      <a class="pagebtn  <%= currentPage === 1 ? 'disabled' : '' %>" href="?page=1&color=<%= selectedColor %>" tabindex="-1">First</a>
      <a class="pagebtn " href="?page=<%= currentPage - 1 %>&color=<%= selectedColor %>">Previous</a>
    <% } %>
    
    <% for (let i = 1; i <= totalPages; i++) { %>
      <% if (i === parseInt(currentPage)) { %>
        <button class="pagebtn  active" href="?page=<%= i %>&color=<%= selectedColor %>"><%= i %></button>
      <% } else { %>
        <a class="pagebtn " href="?page=<%= i %>&color=<%= selectedColor %>"><%= i %></a>
      <% } %>
    <% } %>
    
    <% if (currentPage < totalPages) { %>
      <a class="pagebtn " href="?page=<%= currentPage + 1 %>&color=<%= selectedColor %>">Next</a>
      <a class="pagebtn  <%= currentPage === totalPages ? 'disabled' : '' %>" href="?page=<%= totalPages %>&color=<%= selectedColor %>">Last</a>
    <% } %>
  </ul>
</nav>



<div class="bottom-banner" style="width: 100%;">
  <div class="row">
    <div class="col-md-6">
      <div class="image-container">
        <img src="/images/bott2.jpg" alt="Image description" class="bottom-banner-cover">
        <div class="centered-content">
          <p class="centered-text">Coat</p>
        </div>
        <a class="buttn bttn-secondary centered-button">Shop now</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        <img src="/images/bott1.jpg" alt="Image description" class="bottom-banner-cover">
        <div class="centered-content">
          <p class="centered-text">Jackets</p>
        </div>
        <a class="buttn bttn-secondary centered-button">Shop now</a>
      </div>
    </div>
  </div>
</div>




<!-- Your custom styles here -->
<style>

/* .page-heading{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1.5em;
  border-bottom: gray solid 2px;
}

.page-head{
  font-size: 3rem;
} */
  .pagebtn {
    margin-left: 1em;
    margin-right: 1em;
    color: black;
  }

  .pagination .pagebtn.active {
    background-color: rgb(219, 214, 188) !important;
    border-color: hsl( 211 , 0%, 100%) ;
    color: rgb(0, 0, 0) !important;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .bottom-banner-cover {
  object-fit: cover;
  width: 100%;
  height: 17em;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.centered-content {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-button {
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.centered-text {
  font-weight: 500;
  font-size: 2rem; /* Adjust the font size as needed */
  color: white; /* Adjust the text color as needed */
}

</style>
