<div class="container">
  <div class="row">
    <% products.forEach(product => { %>
      <div class="col-md-3 mb-4">

        <form action="/wishlist/add" method="post">

          
          <input type="hidden" name="productId" value="<%= product._id %>">
          <input type="hidden" name="productName" value="<%= product.name %>">
          <input type="hidden" name="pageUrl" value="/men">
          <input type="hidden" name="quantity" value="1">

        <button type="submit" style="color: grey;" class="btn btn-link"><i class="bi bi-heart"></i></button>
        </form>

        <a href="/women/<%= product.id %>" class="">
          <img class="img-fluid img-with-underline" src="<%= product.coverImagePath1 %>" alt="<%= product.name %>">
        </a>
        <div class="cover-details">
          <div class="cover-brand-label"><%= product.brand.name %></div>
          <div class="cover-name-label"><%= product.name %></div>
          <div class="cover-price-label">$<%= product.price %>
            <% if(product.totalStock < 5 && product.totalStock != 0 ) { %>
              | 
              <span style="color: red;">
              Low on stock
            </span>
              <% } else if(product.totalStock < 1 ) { %>
                | 
              <span style="color: red;">
              Out of stock
            </span>
                <% }  %>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>




<style>

.img-with-underline {
  position: relative;
  transition: border-bottom 0.3s ease;
  border-bottom: solid 2.2px black;

}


.cover-brand-label {
  text-align: center;
  color: black;
  font-size: 1rem;
}

.cover-name-label {
  text-align: center;
  font-size: 0.78rem;
  font-weight: 500;
  color: gray;
}

.cover-price-label {
  text-align: center;
  color: black;
  font-size: .8rem;
  font-weight: 500;
  margin-bottom: 1.5em;
}

</style>