


<div class="container">
  <div class="half-container mt-4">
    <div class="row">
      
      <div class="col-md-6">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
          
          <div class="carousel-inner">
            <% if (product && product.coverImagePaths && product.coverImagePaths.length > 0) { %>
              <% for (let i = 0; i < product.coverImagePaths.length; i++) { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                  <a href="<%= product.coverImagePaths[i] %>" data-lightbox="product-images">
                    <img src="<%= product.coverImagePaths[i] %>" class="d-block w-100 custom-carousel-img" alt="Image <%= i + 1 %>">
                  </a>
                </div>
              <% } %>
            <% } else { %>
              <p>No images available</p>
            <% } %>
          </div>
          
          
        
          <!-- Carousel controls (optional) -->
          <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    
      <div class="col-md-6">
        <h3><%= product.brand.name %></h3>
        <h6 class="text-secondary"><%= product.name %></h6>
        <p><small><span class="font-weight-bold">€ <%= product.price %> <span>
          <% if(product.totalStock < 20 && product.totalStock != 0 ) { %>
            | 
            <span style="color: red;">
            Low on stock
          </span>
            <% } else if(product.totalStock < 1 ) { %>
              | 
            <span style="color: red;">
            Out of stock
          </span>
              <% }  %>
        </span> </span><br><span class="text-secondary">VAT not included</span></small></p>
      
        <form action="/checkout/cart/add" method="post">
          <% if (userId) { %>
            <input type="hidden" name="userId" value="<%= userId %>">
          <% } %>
          <input type="hidden" name="productId" value="<%= product._id %>">
          <input type="hidden" name="productName" value="<%= product.name %>">
          <input type="hidden" name="quantity" value="1">
          <div class="form-group custom-button">
            <label for="size" class="form-label">Size:</label>
            <select name="size" id="size" class="form-select">
              <% Object.entries(product.sizes).forEach(([size, stock]) => { %>
                <% if (stock !== null && stock !== 0) { %>
                  <option value="<%= size %>" <%= stock === 0 ? 'disabled' : '' %>><%= size %><%= stock === 0 ? ' - Out of Stock' : '' %></option>
                <% } %>
              <% }) %>
            </select>
          </div>
                   
          <% if(product.totalStock < 1 ) { %>
            <button class="bttn custom-button" type="submit" disabled>Out of stock <i class="bi bi-emoji-frown"></i></button>
          <% } else { %>
            <button class="bttn bttn-pri custom-button" type="submit">ADD TO BAG</button>
          <% }  %>

        </form>

        <form action="/wishlist/add" method="post">

          <% if (userId) { %>
            <input type="hidden" name="userId" value="<%= userId %>">
          <% } %>
          <input type="hidden" name="productId" value="<%= product._id %>">
          <input type="hidden" name="productName" value="<%= product.name %>">
          <input type="hidden" name="pageUrl" value="/men/<%= product._id %>">
          <input type="hidden" name="quantity" value="1">
    
          <button style="width: 100%;" type="submit" class="bttn bttn-dan custom-button">Wishlist <i class="bi bi-heart"></i></button>
        </form>
      
        
          <div class="the-line"></div>
          <p class="custom-bttn text-center d-flex align-items-center justify-content-center" data-bs-toggle="collapse" data-bs-target="#productDetails">Product Details 🡫</p>

          
          <div id="productDetails" class="collapse">
            <p class="text-secondary custom-details"><small><%= product.description %></small></p>
          </div>
          <div class="the-line"></div>
          
          <p class="custom-bttn text-center d-flex align-items-center justify-content-center" data-bs-toggle="collapse" data-bs-target="#deliveryDetails">delivery & free returns</p>

          <div id="deliveryDetails" class="collapse">
            <p class="text-secondary custom-details"><small>All orders are shipped worldwide via our affiliate couriers DHL or UPS. Please see the shipping method as well as shipping costs and delivery times for your destination here.

              We gladly accept returns within 30 days of receipt free of charge. For more information, please read here.</small></p>
          </div>
          <div class="the-line"></div>

        <div class="faq">
          <p class="text-secondary"><small>See more <%= product.brand.name %></small></p>
          <p class="text-secondary"><small>See more <%= product.category %> by <%= product.brand.name %></small></p>
          <p class="text-secondary"><small>See more <%= product.category %></small></p>
          <p class="text-secondary"><small>See more <%= product.subCategory %></small></p>
        </div>
      </div>
      
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupModalLabel">Select Size</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">

          
            

        </div>
    </div>
  </div>
</div>





<div class="bottom-container">
  <h3 class="text-center d-flex align-items-center justify-content-center">You may also like</h3>



  <div class="row-box">
    <div class="row">
      <div style="width: 100%;">
        <div class="w-100">
          <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <!-- First Post -->
              <div class="carousel-item active">
                <div class="row">


                  <% subProducts.slice(0, 4).forEach(product => { %>
                    <div class="col-3">
                      <div class="card">
                      <a href="/men/<%= product.id %>" class="">

                        <img src="<%= product.coverImagePath1 %>" class="card-img-top" alt="<%= product.name %>">
              
                      </a>

                        <div class="card-body">
                          <h5 class="card-title"><%= product.brand.name %></h5>
                        </div>
                      </div>
                    </div>
                  <% }) %>
                  
                 
  
                  
                  
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  // Add event listener to collapse elements
  const collapseButtons = document.querySelectorAll('[data-bs-toggle="collapse"]');
  collapseButtons.forEach(button => {
    button.addEventListener('click', function() {
      const targetId = this.getAttribute('data-bs-target');
      const target = document.querySelector(targetId);

      // Close all other collapse elements
      collapseButtons.forEach(otherButton => {
        if (otherButton !== this) {
          const otherTargetId = otherButton.getAttribute('data-bs-target');
          const otherTarget = document.querySelector(otherTargetId);

          if (otherTarget && otherTarget.classList.contains('show')) {
            const collapse = new bootstrap.Collapse(otherTarget);
            collapse.hide();
          }
        }
      });
    });
  });
</script>





<script>
  // This line will initialize Lightbox2
  lightbox.option({
    'resizeDuration': 200,
    'wrapAround': true
  });
</script>



 <style>

  .the-line {
  padding-bottom: 0.5rem;
  width: 100%;
  border-top: solid 1px rgb(196, 196, 196);
  }

.custom-bttn {
  cursor: pointer;
  align-items: center;
  margin-top: 0.5rem; 
}
.custom-button {
  width: 100%;
  margin-bottom: 1rem;
}

  .custom-carousel-img {
    padding: 20px;
    width: 40vw; 
    height: 85vh;
}

  /* Add these styles to your existing <style> section */
    /* .half-container {
    
    border: red 2px solid;
  }
  
 
  
  .left-half {
    
    border: blue 2px solid;
  }
  
  .right-half {
   
    border: green 2px solid;
  }
  
  .bottom-container {
   
    border: blueviolet 2px solid;
  }
   */
  
  
  
  
  
    </style> 